$secondary: gray;
$whiteSmoke: whitesmoke;
$lila: #563b63;
$negro:#080504;
$azul : rgb(0, 81, 255);
$rojo: rgb(243, 2, 2);
$theme-colors: (
  "secondary" : $secondary,
  "whiteSmoke" : $whiteSmoke,
  "lila" : $lila,
  "negro": $negro,
  "azul" : $azul,
  "rojo" : $rojo
);

$carousel-control-color:             black;
$carousel-control-icon-width:        4rem;


@import "../node_modules/bootstrap/scss/bootstrap";


.botonNuevo{
  @include button-variant(white, black);
  border-radius: 0;
  color: black;
}

#cabecera{
  background-color: black;
}

#hero{
  padding: 0;
}

#img1{
  height: 70vh;
  background-image: url("../imagnes/fotoHero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#img2{
  height: 70vh;
  background-image: url("../imagnes/foto2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#img3{
  height: 70vh;
  background-image: url("../imagnes/foto3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#carouselInicio{
  position: relative;
}

#posicionarCarousel{
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba($color: white, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.frente{
  z-index: 10000;
}

.carousel-indicators{
  position: absolute;
  top: 0;
}

.card-img-top img{
  object-fit: cover;
}

.card:hover{
  box-shadow: $negro 10px 10px 40px;
}

.btn-card{
  @include button-variant($negro,white);
}

.btn-sesion{
  @include button-variant($azul,black);
}

a{
  text-decoration: none;
  color: white;
}

#icono{
  width: 100px;
  height: 100px;
  margin:auto;
  background-color: $azul;
  text-align: center;
  color: white;
  font-weight: bolder;
  vertical-align: middle;
  font-size: 4rem;
}

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  display: inline-block;
  border-top: 4px solid #FFF;
  border-right: 4px solid transparent;
  box-sizing: border-box;
  animation: rotation 1s linear infinite;
}
.loader::after {
  content: '';  
  box-sizing: border-box;
  position: absolute;
  left: 0;
  top: 0;
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border-bottom: 4px solid $azul;
  border-left: 4px solid transparent;
}
@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} 
