$secondary: gray;
$whiteSmoke: whitesmoke;
$lila: #563b63;
$negro:#080504;
$theme-colors: (
  "secondary" : $secondary,
  "whiteSmoke" : $whiteSmoke,
  "lila" : $lila,
  "negro": $negro
);

$carousel-control-color:             black;
$carousel-control-icon-width:        4rem;


@import "../node_modules/bootstrap/scss/bootstrap";


.botonNuevo{
  @include button-variant(white, black);
  border-radius: 0;
  color: black;
}


#hero{
  padding: 0;
}

#img1{
  height: 70vh;
  background-image: url("../imagnes/fotoHero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#img2{
  height: 70vh;
  background-image: url("../imagnes/foto2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#img3{
  height: 70vh;
  background-image: url("../imagnes/foto3.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
}

#carouselInicio{
  position: relative;
}

#posicionarCarousel{
  text-align: center;
  color: black;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
  background-color: rgba($color: white, $alpha: 0.4);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.frente{
  z-index: 10000;
}

.carousel-indicators{
  position: absolute;
  top: 0;
}

.card-img-top img{
  object-fit: cover;
}
